/.DS_Store
/qiyouxi.xcodeproj/project.xcworkspace/xcuserdata/xiezhe.xcuserdatad/UserInterfaceState.xcuserstate
/qiyouxi.xcodeproj/xcuserdata/xiezhe.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
/qiyouxi/.DS_Store
/qiyouxi/imageResource/.DS_Store
/qiyouxi/images/.DS_Store
/qiyouxi/AudioPlayer/.DS_Store
/LQ.xcworkspace/contents.xcworkspacedata
/LQ.xcworkspace/xcuserdata/xiezhe.xcuserdatad/UserInterfaceState.xcuserstate
/LQ.xcworkspace/xcuserdata/xiezhe.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
WorkspaceSettings.xcsettings
/qiyouxi.xcodeproj/project.xcworkspace/xcuserdata/xiezhe.xcuserdatad/WorkspaceSettings.xcsettings
/qiyouxi/LiQu/.DS_Store
/qiyouxi/LiQu/1x/.DS_Store
/qiyouxi/LiQu/2x/.DS_Store
/liqu.xcodeproj/project.xcworkspace/xcuserdata/xiezhe.xcuserdatad/UserInterfaceState.xcuserstate