* 
{
	font-family: inherit;
	font-size: inherit;
}

html, body, form 
{
	margin: 0;
	padding: 0;
	width: 100%;

	font-family: Verdana;
	font-size: 10pt;

}

td 
{
	vertical-align: top;
}

.likeParent {
	font: inherit;
	color: inherit;
	text-decoration: inherit;
}

a.likeParent,
a.likeParent:link,
a.likeParent:active,
a.likeParent:visited,
a.likeParent:hover 
{
	font: inherit;
	color: #000000;
	text-decoration: none;
}


div.content 
{
	margin: 10px;
}

fieldset {
	margin: 5px;
}

legend 
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	color: Black;
}

fieldset.flash
{
	width: 375px;
	margin: 10px 0px 10px 0px;
	border-color: #D9E4FF;
}

.progressWrapper {
	width: 357px;
	overflow: hidden;
}
.progressContainer {
	margin: 5px;
	padding: 4px;
	
	border: solid 1px #E8E8E8;
	background-color: #DEF2BB;
	color: #99CC66;
	
	overflow: hidden;
	
}
.red /* Error */
{
	border: solid 1px #B50000;
	background-color: #FFEBEB;
	color: #99CC66;
}
.green /* Current */ 
{
	border: solid 1px #DDF0DD;
	background-color: #77aa44;
	color: #DEF2BB;
}
.blue /* Complete */
{
	border: solid 1px #CEE2F2;
	background-color: #DEF2BB;
	color: #99CC66;
}

.progressName {
	font-size: 8pt;
	font-weight: bold;
	color: #555555;
	
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}
.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0px;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}
.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}
.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}
.progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Verdana;
	text-align: left;
	white-space: nowrap;
}
a.progressCancel,
a.progressCancel:link,
a.progressCancel:active,
a.progressCancel:visited,
a.progressCancel:hover
{
	font-size: 0px;
	display: block;
	height: 14px;
	width: 14px;
	
	background-image: url(/-_-/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}
a.progressCancel:hover 
{
	background-position: 0px 0px;
}